Click
cycler
Flask
Jinja2
kiwisolver
MarkupSafe
matplotlib
numpy
pyparsing
python-dateutil
six
SQLAlchemy
Werkzeug
mpld3
simplejson
scipy
sklearn
statsmodels
seaborn
git+git://github.com/mpld3/mpld3@master#egg=mpld3